.home {
    max-width: 375px;
    margin: 0 auto;
    height: auto;
    border: 2px solid #f4f4f4;
    box-shadow: 0 0 10px #b4b2b2;
}

.search {
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    height: 3vh;
    width: 90%;
    margin: 2px auto;
}

.search > p {
    flex: 1;
    text-align: center;
}

.fa-rotate-right {
    transform: rotate(-45deg);
}

.row2 {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.green-plug {
    background-color: #04da79;
    width: 15px;
    height: 15px;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto;
    color: #fff;
    rotate: -90deg;
    display: flex;
    align-items: center;
    justify-content: center;
}

.android {
    flex: 1;
}

.row3 {
    max-width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 0 10px;
}

.campaign-name {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.campaign-name > p, 
.campaign-name > h3 {
  text-align: left;
  margin: 2px 0 0 0;
}

.campaign-name > p {
    color: #3d7e61;
}

.campaign-icon {
    height: 15vh;
    width: 100%;
}

.campaign-icon > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* carousel */
.item {
    min-height: 20rem;
    min-width: 40%;
    margin: 10px;
    display: grid;
    grid-template-rows: 80% 20%;
   
}

.item-top {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.8em;
    border: 2px solid gray;
}

.dark {
    background-color: rgba(163, 159, 159, 0.4);
    width: 100%;
    height: 100%;
    border-radius: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-play {
    color: white;
    font-size: 2em;;
}

/* .item > img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    pointer-events: none;
} */

.inner-carousel {
    display: flex;
}

.carousel {
    cursor: grab;
    overflow: hidden;
}

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(159, 157, 157);
    cursor: pointer;
    margin-top: 0;
}